<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
  <div class="navbar-container">
        <div class="img-container">
            <img src="../static/icons/nith_logo.png" height="170px" width="170px">
        </div>
        <div class="details-container">
            <h2>College Entry System</h2>
            <p>NIT Hamirpur , Pin Code: 177005 (H.P)</p>
        </div>
    </div>
    <div class="title">Select profile type?</div>

    <div class="btn-cont">
      <button class="btn" onclick="redirect_student_login()">Student</button>
      <br>
      <button class="btn" onclick="redirect_security_login()">Security</button>
    </div>


  </div>

  <script>
    function redirect_student_login(){
      window.location.href = "/login/student"
    }
    function redirect_security_login(){
      window.location.href = "/login/security"
    }
  </script>

</body>
</html>
