<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="navbar-container">
        <div class="img-container">
            <img src="../static/icons/nith_logo.png" height="130px" width="130px">
        </div>
        <div class="details-container">
            <h2>Central Library</h2>
            <p>NIT Hamirpur , Pin Code: 177005 (H.P)</p>
        </div>
    </div>
    <div class="container">
        <div class="btn-container">
            <i class="fa fa-user" aria-hidden="true" style="font-size: 30px;"></i>
            <button class="btn" onclick="redirect_student()">Student Login</button>
        </div>
        <br>
        <br>
        <div class="btn-container">
            <i class="fa fa-user" aria-hidden="true" style="font-size: 30px;"></i>
            <button class="btn" onclick="redirect_security()">Security Login</button>
        </div>
    </div>

    <script>
        function redirect_student(){
            window.location.href = "login/student"
        }
        function redirect_security(){
            window.location.href = "login/security"
        }

    </script>
</body>

</html>