<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scan_qr.css') }}" />
</head>

<body>
    <h1>QR Code Scanner</h1>
    <br>
    <div>
        <img src = "{{url_for('student.video')}}" width = "80%"/>
    </div>
    <br>
    <br>
    <br>
    <p>Note : The Camera will stop when it scans the QR. Please, Press the button below for ensuring the entry is done</p>
    <br>
    <br>
    <div class="container">
    <div class="btn-container">
           <form action="/student/add_entry" method="post">
                <input type ="submit" value="Make Entry">
            </form>
    </div>
    </div>
</body>

</html>