<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>Profile Card UI Design</title>-->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_profile.css') }}" />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"  rel="stylesheet"/>
  </head>
  <body>
    <div class="profile-card">
      <div class="image">
        <img src="https://firebasestorage.googleapis.com/v0/b/college-entry-system.appspot.com/o/display-pictures%2Fsec.jpg?alt=media&token=3d3d04ca-dc62-4d35-a779-478fd34a3800" alt="" class="profile-img" />
      </div>

      <div class="text-data">
        <span class="name">{{security["firstName"]}} {{security["lastName"]}}</span>
        <span class="job">Security ID
          <span class="text-boxy"> {{security["securityId"]}} </span>
        </span>
        <span class="job">Designation
          <span class="text-boxy"> {{security["designation"]}} </span>
        </span>
        <span class="job">Email
          <span class="text-boxy"> {{security["emailId"]}} </span>
        </span>
        <span class="job">Phone Number
          <span class="text-boxy"> {{security["phoneNumber"]}} </span>
        </span>
        <span class="job">Date Of Birth
          <span class="text-boxy"> {{security["dateOfBirth"]}} </span>
        </span>
      </div>



      <div class="btn-cont">
        <button class="btn" onclick="generate_qr_page()">GENERATE QR</button>
      </div>


    </div>
      <script>
        function generate_qr_page(){
            window.location.href = "/security/generate_qr"
        }

    </script>
  </body>
</html>

