<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_login.css') }}" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="/student/auth" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">College Email ID</span>
            <input type="text" name="collegeEmailId" placeholder="Enter your college email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" name="password" placeholder="Enter your password" required>
          </div>
        </div>
        <div class="signup_link">
          Not registered? <a href="/student/register">Signup</a>
        </div>
        <div class="button">
          <input type="submit" id="submit" value="Login">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
